#contentDiv {
    padding: 15%;
}


#boardModal {
    font-size: 100%;
    font-family: modalFont;
}

@font-face{
    font-family: flower;
    src: url("../fonts/Stalemate/Stalemate-Regular.ttf") format('truetype');
}

#exampleModalLongTitle {
    font-weight: bold;
    font-size: 160%;
    font-family: flower;
}

#wholeModal {
    /* margin-left: 50%; */
    /* margin-right: 100%; */
    width: 180%;
    border-width: 0;
    /* border-width: 3px; */
    box-shadow: 0px 0px 15px 5px rgb(53, 55, 56);
    /* border-color: rgb(43, 42, 42); */
    border-radius: 2em;
}

#modal-dialog {
    margin-left: 16%;
}

#wholeModal2{
    /* margin-right: 100%; */
    position: fixed;
    /* right: 10%; */
    top: 0;
    float: right;
    left: 140%;
    width: 40%;
    border-width: 0;
    /* border-width: 3px; */
    box-shadow: 0px 0px 15px 5px rgb(53, 55, 56);
    /* border-color: rgb(43, 42, 42); */
    border-radius: 2em;
}

#commentText {
    font-weight: bold;
    /* font-size: 100%; */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    font-family: 'Josefin_Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#commentBlock {
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 1em;
}

#textareaContents {
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 1em;
}